<!--
<p>
    Post : {{ post.mensaje}}
</p>

-->


<div class="post">

    <ion-item lines="none">

        <ion-avatar slot="start">
            <img src="/assets/avatars/{{post.usuario.avatar}}">
        </ion-avatar>


        <ion-label>
            <h3>{{ post.usuario.nombre }}</h3>
            <h5>{{ post.usuario.email }}</h5>
        </ion-label>
    </ion-item>

    <!-- ngif imagenes-->
    <ion-slides pager="true">
        <ion-slide class="image-slide" [style]="img1 | domSanitazer">
        </ion-slide>
        <ion-slide class="image-slide" [style]="img2 | domSanitazer">
        </ion-slide>
        <ion-slide class="image-slide" [style]="img3 | domSanitazer">
        </ion-slide>
    </ion-slides>
    <!-- mapa -->
    <ion-item lines="none">
        <ion-icon slot="start" name="heart-empty"></ion-icon>
        <ion-icon slot="end" name="bookmark"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>
            {{post.mensaje}}
        </ion-label>

    </ion-item>

</div>